footer {
    background-color: $primary;
    display: flex;
    flex-direction: column;
}

.footer__container {
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 0;
}

.footer_logo {
    height: 300px;
}

.footer__sub-service {
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.margin {
    padding-block-start: 5px;
}

.emely {
    color: whitesmoke;
    text-align: center;
    font-size: 13px;
}

@media screen and (max-width :768px) {

    .footer_logo {
        height: 100px;
    }

}

@media screen and (max-width :480px) {
    .footer__container{
        flex-direction: column;
        
    }
}